@import "../node_modules/bootstrap/scss/bootstrap";

/* mi estilo*/
/*buscador*/
* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
body {
    margin: 0%;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

.buscador {
    margin: 0%;
    padding: 0%;
    display: flex;
    background-color: rgba(255, 123, 0, 0.767);
    justify-content: flex-end;
    width: 100%;
    height: 35px;
    align-items: center;
}

#gg {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    box-shadow: 2px 3px 6px grey;
}

.bar {
    border-radius: 10px;
    background-color: white;
    padding: 2px;
    width: 90%;
    height: 3%;
    box-shadow: 5px 3px 8px black;
}

/*navegador*/
.navegacion {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    align-items: center;
    box-shadow: 0px 3px 4px black;
}

.opciones {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 26px;
}

.opciones p {
    margin: 10px;
    text-decoration: none;
    height: 60%;
    width: 100%;
}
.opciones button{
    margin: 10px;
    text-decoration: none;
    height: 60%;
    width: 100%;
}

.opciones p:hover {
    background-color: bisque;
}

#Mas {
    background-color: white;
    border: none;
    width: 50px;
    display: flex;
}

#Mas ul{
    position: absolute;
    margin: 35px;
    display: none;
    width: 15%;
}

#Mas:hover {
    background-color: bisque;
}


/*header*/

.portada {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    height: 300px;
    padding: 10px;
    background-image: url("https://images.pexels.com/photos/1007026/pexels-photo-1007026.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: 100%;
    align-items: center;
}

#haf {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    height: 300px;
    padding: 10px;
    background-image: url("https://images.pexels.com/photos/5669601/pexels-photo-5669601.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: 100%;
    align-items: center;

}
#haf h1{
    text-shadow: black 0px 2px 3px;
    color: white;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 58px;

}

.portada h1 {
    text-shadow: black 0px 2px 3px;
    color: white;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 58px;
}

/*ariculos*/
.articulo {
    height: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 50px;
    margin-top: 20px;
}



/*terjetas bootstrap*/
.tarjetas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.h{
    transition: 0.2s;
    object-fit: cover;
}
.h:hover{
    transform: scale(1.3);
}

#C {
    margin: 10px;
}

#C img {
    width: 100%;
}

/*aside inferior*/
.asides {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 123, 0, 0.767);
    height: 30%;
    padding: 20px;
}

ul {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: black;
}

.nosotros {
    width: 25%;
    text-align: justify;
}

.anuncio {
    width: 25%;
}

.anuncio img {
    width: 100%
}


.como {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 600px) {
    .asides {
        flex-direction: column;
        text-align: center;
    }

    .nosotros {
        width: 100%;
    }

    .anuncio {
        margin: auto;
    }

    .como{
        margin: 0%;
    }
}